<h1> Sorry <%=current_user.username%>!</h1> <br>
<h2></h2>
<h4>You do not have permission to do that</h4><br>
<h2></h2>
<h4><a href="/reviews">Reviews</a> - <a href="/restaurants">Restaurants</a> -  <a href="/cities">Cities</a>  - <a href="/home">Home</a></p></h4>
