<h1>Hey <%=current_user.username%>! Hope you're hungry!</h1>

<h2>Choose from the options below</h2>

<p><a href="/reviews">All Reviews</a></p>

<p><a href="/reviews/new">Create New Review</a></p>

<p><a href="/restaurants">All Restaurants</a></p>

#This page should have:
# List of your reviews
# Create Review
# List of restaurants
#     by city
#     by cuisine
#  Create restaurant
