<h1>Hey <%=current_user.username.upcase%>!</h1><br>
<h4>What are you in the MOOD for?</h4><br>

<h2></h2>
<div>
<h3> Browse by:</h3><br>
<p><a href="/reviews">Reviews</a></p>

<p><a href="/restaurants">Restaurants</a></p>

<p><a href="/cities">Cities</a></p>


</div>