<h1>Hey <%=current_user.username%>! Hope you're hungry!</h1>

<h2>Choose from the options below</h2>

<p><a href="/reviews">Reviews</a></p>

<p><a href="/restaurants">Restaurants</a></p>

<p><a href="/cities">Cities</a></p>

#This page should have:
# List of your reviews
# Create Review
# List of restaurants
#     by city
#     by cuisine
#  Create restaurant
