<h1>Hey <%=current_user.username.upcase%>!</h1><br>
<h4>What are you in the MOOD for?</h4><br>

<h2></h2>
<div>

<h4><a href="/reviews/new">Create New Review</a></h4><br>

<h4> Browse food by:</h4><br>
<h4><p><a href="/reviews">Reviews</a></p>

<p><a href="/restaurants">Restaurants</a></p>

<p><a href="/cities">Cities</a></p>

<p><a href="/cuisines">Cuisines</a></p></h4>



</div>