<h1>Gimme the deets</h1>

<form method="post" action='/login'>
    <input type="text" name="user[username]" <br>
    <input type="password" name="user[password"><brb>
    <input type="submit" value="login">
</form>