<h2>Gimme deets</h2>

<form method="post" action='/login'>
    Username: <input type="text" name="user[username]" required><br>
    Password: <input type="password" name="user[password" required><br>
    <input type="submit" value="login">
</form>