<h1>New page, who dis?</h1><br>
<h2></h2>

<% if logged_in?%>
    Please log out first!
<% else %>
<form method="post" action="/signup">
    Username: <input type="text" name="user[username]" required><br>
    Password: <input type="password" name="user[password]" required><br>
    <input type="submit" value="sign up">
</form>
<% end %>