<h1> Edit restaurant </h1><br>
<h2></h2>
<h3><%=@restaurant.name%></h3>
<form method="post" action="/restaurants/<%=@restaurant.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <br><label> Name: </label>
  <input type="text" name="name" value="<%= @restaurant.name %>" required><br>
  <br><label> City: </label>
  <input type="text" name="city" value="<%= @restaurant.city.name %>" required<br>

  <input type="submit" value="submit">
</form><br>
<h2></h2>
<p><a href="/restaurants">Back to All Restaurants</a></p>


<p><a href="/home">Back to Home</a></p>