<h1>Restaurants</h1>

<h4><a href="/restaurants/new">Create New Restaurant</a></h4><br>
<h2></h2>

<% @restaurants.each do |restaurant| %>
    <div>
    <h3><a href="/restaurants/<%=restaurant.id%>"><%= restaurant.name%></a></h3>
    </div>
    <% end %>

<br>
<h2></h2>
<p><a href="/home">Back to Home</a></p>