<h1>Restaurants</h1>

<br>
<h2></h2>

<% @restaurants.each do |restaurant| %>
    <div>
    <h3><a href="/restaurants/<%=restaurant.id%>"><%= restaurant.name%> - <%= restaurant.city.name%></a></h3>
    </div>
    <% end %>

<br>
<h2></h2>
<h4><a href="/home">Back to Home</a></h4>