<h1> Enter a new restaurant!</h1>

<form method="post" action="/restaurants"
<label>Restaurant Name:</label>
<p><input type="text" name="name" id="name" required</p><br>
<p>Body:</p>
<p><input type="text" name="description" id="description" required</p><br>
<input type="submit" name="submit">
</form>

<p><a href="/home">Back to Home</a></p>