<h1> Enter A New Restaurant!</h1><br><br>
<h2></h2>

<form method="post" action="/restaurants"
<label>Restaurant Name:</label>
<p><input type="text" name="name" id="name" required</p><br>
<label>Restaurant City:</label>
<p><input type="text" name="city" id="city" required</p><br>
<input type="submit" name="submit">
</form>
<h2></h2>
<p><a href="/home">Back to Home</a></p>