<h1> Edit City </h1><br>

<h4><%=@city.name%></h4><br>
<h2></h2>


<h3>Name:</h3>
<form method="post" action="/cities/<%=@city.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%= @city.name %>" required><br>

  <input type="submit" value="submit">
</form><br>
<h2></h2>
<h4><a href="/cities">Back to Cities</a> - <a href="/home">Back to Home</a></h4>