<h1>Cities</h1><br>
<h2></h2>

<% @cities.each do |city| %>
    <div>
    <h3><a href="/cities/<%=city.id%>"><%= city.name%></a></h3>
    </div>
    <% end %>


<br>
<h2></h2>
<p><a href="/home">Back to Home</a></p>