<h1> Enter a new city!</h1>

<form method="post" action="/cities"
<label>City Name:</label>
<p><input type="text" name="name" id="name" required</p><br>
<input type="submit" name="submit">
</form>

<p><a href="/home">Back to Home</a></p>