<h2> Edit Review </h2>
<label><%=@review.title%></label>
<form method="post" action="/reviews/<%=@review.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <br><label> Description </label>
  <input type="text" name="description" value="<%= @review.description %>"><br>
  
  <input type="submit" value="submit">
</form>

<p><a href="/home">Back to Home</a></p>