<h1> Edit Review </h1><br>
<h2></h2>
<h3>"<%=@review.title%>"</h3>
<form method="post" action="/reviews/<%=@review.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <br><label> Description: </label>
  <input type="text" name="description" value="<%= @review.description %>" required><br>
  
  <input type="submit" value="submit">
</form>
<br>
<h2></h2>
<p><a href="/home">Back to Home</a></p>