<h1> Write a new review!</h1><br>
<h2></h2>

<form method="post" action="/reviews"
<label>Restaurant:</label><br>
<input type="text" name="restaurant" id="restaurant"><br>

<label>Restaurant City:</label><br>
<input type="text" name="city" id="city" required><br>

<label>Title:</label><br>
<input type="text" name="title" id="title"><br>

<label>Body:</label><br>
<input type="text" name="description" id="description"><br>

<input type="submit" name="submit">


</form>
<br>
<h2></h2>
<p><a href="/home">Back to Home</a></p>