<h1> Write a new review!</h1>

<form method="post" action="/reviews"
<label>Restaurant:</label>
<input type="text" name="restaurant" id="restaurant">
<label>Restaurant City:</label>
<p><input type="text" name="city" id="city" required</p><br>

<label>Title:</label>
<p><input type="text" name="title" id="title" </p><br>

<label>Body:</label>
<input type="text" name="description" id="description">

<input type="submit" name="submit">


</form>

<p><a href="/home">Back to Home</a></p>