<h1> Write a new review!</h1>

<form method="post" action="/reviews"
<p>Give your review a title:</p>
<p><input type="text" name="title" id="title"</p><br>
<p>Body:</p>
<p><input type="text" name="description" id="description"</p><br>
<input type="submit" name="submit">
</form>

<p><a href="/home">Back to Home</a></p>