<h1> Write A New Review!</h1><br>
<h2></h2>

<form method="post" action="/reviews"
<label>Restaurant:</label><br>
<input type="text" name="restaurant" id="restaurant"><br>

<label>Restaurant City:</label><br>
<input type="text" name="city" id="city" required><br>

<label>Cuisine</label>
<% @cuisines.each do |cuisine| %>
<input type="radio" name="cuisine" value="<%= cuisine.name %>"</input><br>
<% end %><br>

<label>Title:</label><br>
<input type="text" name="title" id="title"><br>

<label>Body:</label><br>
<textarea name="description" rows="10" cols="80" id="description"></textarea><br>

<input type="submit" name="submit">


</form>
<br>
<h2></h2>
<p><a href="/home">Back to Home</a></p>